@tailwind base;
@tailwind components;
@tailwind utilities;

/* global css */
html {
    font-size: 15px;
}

h1,
h2,
h3,
ul {
    font-family: 'Josefin Sans',
        sans-serif;
    text-transform: uppercase;
}

button {
    font-family: 'Alata',
        sans-serif;
    text-transform: uppercase;
    letter-spacing: .3rem;
}

p {
    font-family: 'Alata',
        sans-serif;
    letter-spacing: .05rem;
}

/* 
font-family: 'Alata',
sans-serif;
font-family: 'Josefin Sans',
sans-serif; 
*/
header {
    height: 100vh;
    background: url('../images/mobile/image-hero.jpg') center/cover no-repeat;
    display: grid;
    grid-template-rows: auto 1fr;
}

@media (min-width:768px) {
    header {
        background-image: url('../images/desktop/image-hero.jpg');
        height: 70vh;
    }
}

.sidebar {
    transform: translateX(100%);
    visibility: hidden;
    transition: transform 250ms ease-in-out;
}

article:hover h3 {
    color: black !important;
}

/* active submenu */
.active {
    visibility: visible;
    transform: translateX(0%);
}

/* diactive nav btns */
.diactive {
    display: none !important;
}

/* active underline */
.underline {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 400%);
    background: white;
    border-radius: 50rem;
    width: 0;
    height: .15rem;
    transition: width 250ms;
}

.underline-actived {
    width: 1.5rem;

}

/* no scroll body */
.noscroll {
    height: 100vh;
    overflow: hidden;
}

/* custom scrollbar */
::-webkit-scrollbar {
    width: 1.5rem;
}

::-webkit-scrollbar-track {
    background-color: rgb(37, 37, 37);
}

::-webkit-scrollbar-thumb {
    background-color: #505050;
    border-radius: 2rem;
    border: 6px solid transparent;
    background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #6b6b6b;
}