@tailwind base;
@tailwind components;
@tailwind utilities;

/* global css */
html {
    font-size: 15px;
}

h1,
h2,
h3,
ul {
    font-family: 'Josefin Sans',
        sans-serif;
    text-transform: uppercase;
}

button {
    font-family: 'Alata',
        sans-serif;
    text-transform: uppercase;
    letter-spacing: .3rem;
}

/* 
font-family: 'Alata',
sans-serif;
font-family: 'Josefin Sans',
sans-serif; 
*/
header {
    height: 100vh;
    background: url('../images/mobile/image-hero.jpg') center/cover no-repeat;
    display: grid;
    grid-template-rows: auto 1fr;
}